// basic styles

body {
    background-color: $bgcolor;
}

nav {
    background-color: $secondary-color;
    height: 20vh;
    width: 100%; 
}

h1 { 
    color: $headings;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    display: inline;
}

a {
    color: $links;
    text-decoration: none;
}

p {
    color: $text;
}